.header {
    width: 100%;
    box-sizing: border-box;
    height: 3.5rem;
    display: flex;
   /* flex-wrap:wrap; */
    padding: 0;
    border-radius: .75rem;
    /* justify-content: ; */
    align-items: center;
    background-color:#25252533
  
  }
  
  .logo {
    font-size: 2rem;
    padding: 2rem;
    color: rgb(110, 107, 107);
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    
    margin:2rem;
    font-size: 1.5rem;
  }
  
  .nav a {
    text-decoration: none;
    color:rgb(110, 107, 107);
  }
  
  .nav a:hover,
  .nav a:active,
  .nav a.active {
    color: black;
  }
  
 .nav a .activated{
  border:1px solid black;
  color:white;
  background-color: black;
}
@media only screen and (max-width: 600px) {
  /* For desktop: */
  .nav li {margin: .5rem;}
  
}